body {
	background-color: black;
	margin: 10px 20px;
}

h1 {
	color: white;
	margin: 5px px;
}

.search-container {
	display: flex;
	flex-direction: column;
	margin: 5px 0px;
}

.search-input-container {
	margin: auto;
	width: 100%;
	height: 25px;
	margin: 5px 0px;
}

.search-container label {
	color: yellow;
	margin-top: 5px;
}

.search-input-container input {
	width: 85%;
	height: 100%;
	background-color: white;
	border: 1px;
	border-radius: 3px;
}

.search-input-container button {
	width: 10%;
	height: 100%;
	background-color: red;
	color: white;
	font-weight: bold;
	border: 1px;
	border-radius: 3px;
}

.search-input-container button:hover {
	background-color: #007bff;
}

.main-container {
	color: white;
}

.main-container h3 {
	margin: 50px 0px;
	text-align: center;
}

.movies-container {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.movie {
	color: white;
	text-align: center;
	height: 300px;
	text-decoration: None;
	font-size: 110%;
}

.movie:hover {
	border: 1px solid white;
	border-radius: 5px;
}

.movie img {
	width: 100%;
	height: 80%;
	object-fit: cover;
	border-radius: 5px;
	margin-bottom: 1px;
}

#show-more-button, #loading-spinner {
	color: white;
	font-size: 15px;
	background-color: black;
	border: 0px;
	margin: 30px 44%;
}

#show-more-button:hover {
	color: #007bff;
}